html,
body,
#container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body.preload {
  opacity: 0;
  overflow: hidden;
}
